@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    padding:0;
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
body{
    background-color: rgba(62, 14, 138, 0.801);
}
#main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 200px;
    align-items: center;
    margin: 0 auto;
    
    
}
#main-container h1{
    padding:30px;
    font-family: 'Anton', sans-serif;
}

#input-container{
    margin-bottom: 30px;
}
#list{
    
    margin-right:133.3px;
}